.blogstats_table {border-collapse: collapse;}
.blogstats_table td, .blogstats_table th {border: 1px solid #CCCCCC; min-width: 150px; text-align: center;}
.blogstats_table td {vertical-align: top;}
.blogstats_table th span {font-weight: normal; font-size: .9em; font-style: italic;}